<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.springboot.mapper.poetry.PoetryMapper">

    <select id="selectMaxPoetryId" resultType="com.yun.springboot.model.entity.poetry.PoetryDo">
        select *
        from poetry
        order by id desc limit 1
    </select>
</mapper>
